@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Regular.otf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url('./assets/fonts/Montserrat-Bold.otf');
}

:root {
    --dark-bg: #0a0a0a;
    --gray-bg: #262626;
    --gray-bg-mid: #737373;
    --gray-text: #a3a3a3;
    --ligth-text: #f5f5f5;
    --intense-green: #1d3001;
    --electric-green: #a3e635;
    --electric-orange: #ff7d1f;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat';
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: normal;
    background: linear-gradient(10deg, var(--dark-bg) 0%, var(--gray-bg-mid) 3%, var(--gray-bg-mid) 15%, var(--dark-bg) 75%, var(--intense-green) 100%);
    color: var(--ligth-text);
}

h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: #a3a3a3; 
    padding: 3rem 0;
}

h2{
    font-size: 3rem;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h3 {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--gray-bg)
}

a {
    text-decoration: none;
    color: var(--electric-orange)
}

button {
    background: transparent;
    border: 0;
    color: var(--electric-green);
    cursor: pointer;    
}

button:focus {
    outline: none;
}

button:active {
    transform: scale(1.2);
    transition: 80ms linear;
}

.title-part1 {
    color: var(--ligth-text);
}

.title-part2 {
    color: var(--gray-text);
}
.title-part3, .title-expressive {
    color: var(--electric-green);
}

header {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 15vw;
    height: 100vh;
    background-color: var(--gray-bg);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    border-top: 7px solid #a3e635;
    background-color: #0a0a0a;
}

main, footer {
    padding-left: 15vw;
}

#logo {
    text-align: center;
    margin: 1.5rem;
}

#logo > img {
    width: 45px;
}

#logo > p {
    color: var(--gray-text);
    font-weight: bold;
}

.nav-menu {
    background-color: var(--dark-bg);
    flex-grow: 1;
}

.nav-menu > ul  { 
    padding-left: 1rem;
}

.nav-item {
    list-style: none;
    padding: 15px 0;
    font-size: 0.8rem;
}

.end-nav {
    background-color: var(--electric-green);
    height: 5.1rem;
}

#main-project {
    width: 85vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "title photo"
        "info info"
        "navigation navigation";
}

.title-main {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    grid-area: title;
}

#main-project > div {
    grid-area: photo;
    display: flex;
}

.img-main {
    width: 22vw;
    height: 22vw;
    object-fit: cover;
    box-shadow: 10px 10px var(--electric-green);
    transition: 200ms ease-in-out;
}

.img-main:hover {
    box-shadow: 0px 5px 20px var(--electric-green);
}

.description-main {
    letter-spacing: 2px;
    margin: 2rem;
    padding: 0 2rem;
    overflow: scroll;
    display: flex;
    align-items: center;
    grid-area: info;
    width: 80%;
    min-height: 20vh;
}

.navigation {
    padding: 0 2rem;
    height: 10vh;
    display: flex;
    justify-content: start;
    align-items: center;
    grid-area: navigation;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 2rem;}

.card {
    position: relative;
    box-shadow: 10px 10px var(--gray-bg);
    transition: all 400ms ease-in-out;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0px 0px var(--gray-bg);
}

.card > img:hover{
    opacity: 1;
    transform: scale(1.3);
    transition: all 600ms ease-in-out;
}

.card > img {
    opacity: 0.5;
    width: 20vw;
    height: 20vw;
    object-fit: cover;
}

.card > h3 {
    position: absolute;
    bottom: 10px;
    padding: 10px 0;
    text-align: center;
    background-color: var(--ligth-text);
    width: 100%;
    opacity: .85;
}

.title-main, #main-project > div, .cards{
    justify-content: center;
    align-items: center;
}

#other-projects {
    width: 100%;
    background-color: var(--ligth-text);
    color: var(--gray-bg) ;
}

#other-projects > h2 {
    padding: 2rem;
}

@media only screen and (max-width: 738px) {

    body {
        display: flex;
        flex-direction: column;
    }

    header {
        flex-direction: row;
        align-items: stretch;
        height: 15vh;
        width: 100vw;
        position: static;
    }

    h2 {
        font-size: 2.5rem;
    }

    .nav-menu > ul {
        display: none;
    }

    .end-nav {
        width: 2rem;
        height: 100%;
    }

    main, footer {
        padding-left: 0;
    }

    #main-project {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "title"
            "photo"
            "info"
            "navigation";
    }

    .title-main {
        margin: 2rem 0;
    }

    .img-main {
        width: 70vw;
        height: 70vw;
    }

    .description-main {
        margin: 3rem 1rem 1rem 1rem;
        display: flex;
        grid-area: info;
    }

    .navigation {
        height: 10vh;
    }

    .card > img {
        height: 45vh;
        width: 45vh;
        object-fit: cover;
    }    

}
